:root {
    --font-family: "Quicksand", sans-serif;
    --fz-normal: 1em;
    --fw-normal: 300;
    --ui-color-light: rgba(255, 255, 255, 0.54);
    --ui-color-dark: rgba(0, 0, 0, 0.54);
    --ui-color-danger: #ef4949;
    --ui-bg-dark: var(--ui-color-dark);
    --ui-bg-light: var(--ui-color-light);
    --ui-bg-lighter: rgba(255, 255, 255, 0.70);
    --ui-text-color-dark: rgba(0, 0, 0, 0.54);
    --ui-text-color-light: #e8e8e8;
    --ui-border-radius: 8px;
    --ui-box-shadow: 0 0 30px rgba(0, 0, 0, 0.54);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.title  {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: var(--ui-border-radius);
    color: var(--ui-text-color-light);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.54);
    max-width: 90%;
}

/* Context Menu */
.context-menu {
    border-radius: 8px;
    width: 190px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.54);
    position: absolute;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.context-menu .btn {
    color: var(--ui-text-color-dark);
}

.context-menu .btn:hover {
    background: var(--ui-bg-lighter);
}

.ui-light .context-menu {
    background-color: var(--ui-bg-light);
}

.ui-dark .context-menu {
    background-color: var(--ui-bg-dark);
}

/* Buttons */
.btn
{
    border: none;
    background-color: transparent;
    width: 100%;
    height: 50px;
    font-size: var(--fz-normal);
    font-family: var(--font-family);
    font-weight: var(--fw-normal);
    color: var(--ui-text-color-light);
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 0 10px;
}

.btn_danger span {
    color: var(--ui-color-danger)
}

.btn_outline {
    border-radius: var(--ui-border-radius);
    border: 2px solid var(--ui-color-light)
}

.btn span
{
    width: 100%;
    height: 100%;
    text-align: left;
    transition: background-color 0.15s;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.btn span i {
    margin-right: 10px;
}

.btn:hover div
{
    background-color: rgba(147, 147, 147, 0.31);
}

/* Inputs */
.input {
    border-radius: 3px;
    font-size: var(--fz-normal);
    font-family: var(--font-family);
    font-weight: var(--fw-normal);
    padding: 5px;
    border: none;
    outline: none;
}

#planet-label {
    display: none;
    box-shadow: var(--ui-box-shadow);
    padding: 10px;
    border-radius: var(--ui-border-radius);
    background: var(--ui-bg-light);
    font-family: var(--font-family);
    color: var(--ui-text-color-dark);
    font-size: var(--fz-normal);
    cursor: default;
    user-select: none;
    z-index: 1;
}

.settings {
    border-radius: 8px;
    box-shadow: var(--ui-box-shadow);
    position: absolute;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    flex-direction: column;
}

.settings__row {
    padding: 10px;
    display: flex;
    align-items: center;
    z-index: 99;
}

.ui-light .settings__row {
    background-color: var(--ui-bg-light);
}

.ui-dark .settings__row {
    background-color: var(--ui-bg-dark);
}

.settings__row span {
    font-family: var(--font-family);
    margin-right: 10px;
}