html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;

    display: flex;
    align-items: center;
}

canvas {
    background-color: rgb(49, 49, 49);
    width: 60%;
    height: 75%;
    margin-left: 6%;
}